@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100% !important;
  max-width: 80% !important;
  margin: 0 auto !important;
}

@layer utilities {
  .calc-height {
    height: calc(100vh - 88px);
  }
}

@layer utilities {
  .title-font {
    text-transform: uppercase;
    width: max-content;
    color: white;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 3px solid #8f00ff;
  }
}

@layer utilities {
  .about-drop-shadow {
    filter: drop-shadow(0px 17px 37px rgba(143, 3, 254, 0.05))
      drop-shadow(0px 67px 67px rgba(143, 3, 254, 0.04))
      drop-shadow(0px 151px 91px rgba(143, 3, 254, 0.03));
  }
}

a {
  text-decoration: none !important;
}

ul li,
ol li {
  list-style: none !important;
}
