@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.container {
  width: 100% !important;
  max-width: 80% !important;
  margin: 0 auto !important;
}

a {
  text-decoration: none !important;
}

ul li, ol li {
  list-style: none !important;
}